.half_chart{
    position: relative;
    h3{
        text-align: center;
        font-size: 30px;
        position: absolute;
        left: 40%;
        z-index: 99;
        bottom: 15px;
        background-color: #fff;
        small{
            display: block;
            color: #707070;
            font-size: 12px;
        }
    }
}
.rev_table{
    width: 100%;
    
    tr{
        td{
            font-size: 10px;
            padding: 15px 0;
            border-bottom: 1px solid #F2F2F2;
            .badge{
                padding: 2px 2px !important;
                font-size: 9px !important;
                svg{
                    width: 15px;
                }
            }
        }
    }
}
.hr_stats{
    .vendor-chart{
        width: 40%;
        #widgetChartYear, #widgetChartYear2, #widgetChartYear3 {
            >*{
                 min-height: 50px !important;
                 height: 50px !important;
            }
            min-height: 50px !important;
            height: 50px !important;
            svg{
                height: 100%;
            }
        }
    }
    li{
        border-bottom: 1px solid #F2F2F2;
        padding: 25px 0;
        &:first-child{
            padding-top: 5px;
        }
    }
}
.social_stats{
    li{
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            right: 7px;
            height: 60%;
            width: 1px;
            background-color: #D2C7C7;
            top: 20%;
        }
        &:nth-child(3),&:nth-child(6),&:nth-child(8){
            &:after{
                display: none;
            }
        }
    }
}
.for_same_height{
    .card{
        height: -webkit-fill-available;
    }
}
.table_wrraper{
    table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; /* forces equal layout */
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed; /* match tbody */
}

tbody {
  display: block;
  max-height: 200px;   /* scroll height */
  overflow-y: auto;    
  width: 100%;
  &::-webkit-scrollbar{
    width: 8px; 
  }
    &::-webkit-scrollbar-track {
    background: #f1f1f1;       /* track color */
    }
    &::-webkit-scrollbar-thumb {
    background: #C4A564;          /* handle color */
    border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
    background: #f6dca6;          /* hover color */
    }
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
th, td{
    font-size: 12px !important;
}
th{
    padding-left: 3px;
}


}
.card{
        height: -webkit-fill-available;
}
.authentication-wrapper{
    height: 100vh;
    overflow: hidden;
    padding: 15px;
}